body{
    font-family: Arial, Helvetica, sans-serif;
}
#divmain{
    display:flex;
    gap: 20px;
}
#divmain > li{
   color: gray;
}
#techstack>div{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
#poster{
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 50px;
}
#divchild{
    display: flex;
    margin-top: 50px; 
    gap: 30px;
    padding: 5px;
    width: 30%;
}
#divchild>p{
    background-color: rgb(183, 225, 241);
    color: teal;
    height: 23px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}
#poster{
    margin :30px
}
#divone{
width:50%
}
#divthr{
   width: 15%;
}
#company{
    color: teal;
    font-size: 16px;
    margin-top: 20px;
    line-height: -10px;
}


